body {
    position: absolute;
    background: url("../img/bg-element.png");
    background-size: cover;
    background-blend-mode: lighten;
}

body>form label {
    height: 23vh;
    width: 30vw;

}

footer>a:first-of-type img {
    transform: rotate(180deg);
}

body>form input[type="checkbox"]:checked+label:nth-of-type(2),
body>form input[type="checkbox"]:checked+label:nth-of-type(4) {
    background-image: none;
    color: var(--color-background);
    box-shadow: 0 0 0 1px var(--color-knoppen);
}