@font-face {
    font-family: poppins-light;
    src: url("../fonts/Poppins-Light.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: poppins-reg;
    src: url("../fonts/Poppins-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: poppins-bold;
    src: url("../fonts/Poppins-Bold.ttf");
    font-weight: 400;
    font-style: normal;
}

:root {
    --color-background: #24293e;
    --color-text: white;
    --color-knoppen: #8ebaff;
    --color-vlakken: #2f3855;

    --color-gradient: linear-gradient(300deg, #525b78, #2f3855 80%);
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: poppins-reg, Arial, Helvetica, sans-serif;
    background-repeat: no-repeat !important;
    background-size: contain;

}

em {
    font-family: poppins-bold, Arial, Helvetica, sans-serif;
    font-style: normal;
}

h1,
h2,
h3,
h4 {
    line-height: 1em;
}

a {
    font-family: poppins-reg, Arial, Helvetica, sans-serif;
    text-decoration: none;

    color: var(--color-background);
    background-color: var(--color-knoppen);

    padding: 1em;
    border-radius: 1em;

    cursor: pointer;
}

a>img {
    width: 1.25em;
    height: 1.25em;
    margin: auto;
}

p {
    font-family: poppins-light, Arial, Helvetica, sans-serif;
}

body>form {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;

    height: 75vh;
}

body>form input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    width: 0;
    cursor: pointer;
}



body>form label {
    font-family: poppins-reg, Arial, Helvetica, sans-serif;
    color: var(--color-text);
    text-align: center;
    font-size: .9em;


    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    position: relative;
    vertical-align: bottom;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form>label>p {
    margin: .25em auto 0;
}

form>label>img {
    height: 6.5vh;
    margin-bottom: 0.25em;
}

body>form input[type="checkbox"]:checked+label {
    background-image: none;
    color: var(--color-knoppen);
    box-shadow: 0 0 0 1px var(--color-knoppen);
}

body:not(footer) {
    margin: auto 1.5em;
}










footer {
    position: fixed;
    margin: 1.5em;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
}

footer a {
    display: block;
    width: 2em;
    height: 2em;
}

footer a:first-of-type {
    background-color: var(--color-vlakken);
}

footer a:first-of-type img {
    position: absolute;
    bottom: 1.35em;
    left: 1.4em;
}

footer a:last-of-type {
    background-color: var(--color-knoppen);
}

footer a:last-of-type img {
    position: absolute;
    bottom: 1.35em;
    right: 1.4em;
}



.isDisabled {
    pointer-events: none;
    background-color: var(--color-background);
    cursor: not-allowed;
}