body {
    position: absolute;
    background: url("../img/bg-voel.png");
    background-size: cover;
}


/***** SECTIE MET TEXT ******/

body>section:first-of-type {
    margin-bottom: 1.25em;
}

body>section:first-of-type>h1 {
    margin-bottom: 0;
}

body>section:first-of-type>p {
    margin: 0 auto;
}


form label {
    height: 16.5vh;
    width: 25vw;
}

body>form input[type="checkbox"]:checked+label:first-of-type,
body>form input[type="checkbox"]:checked+label:nth-of-type(2) {
    background-image: none;
    color: var(--color-background);
    box-shadow: 0 0 0 1px var(--color-knoppen);
}