<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("partials/taalhead.ejs"); %>
	</head>

	<body>
		<section>
			<h1>In <em>welke talen</em> wordt dit lied gezongen?</h1>
		</section>

		<form action="/confirmationScreen" method="post">
			<input
				type="checkbox"
				name="language"
				value="nederlands"
				id="nederlands"
			/>
			<label for="nederlands">
				<img src="img/taal-nederlands.png" id="nederlandsImage" />
				<p>Nederlands</p>
			</label>

			<input type="checkbox" name="language" value="engels" id="engels" />
			<label for="engels">
				<img src="img/taal-engels.png" id="engelsImage" />
				<p>Engels</p>
			</label>

			<input type="checkbox" name="language" value="koreaans" id="koreaans" />
			<label for="koreaans">
				<img src="img/taal-koreaans.png" id="koreaansImage" />
				<p>Koreaans</p>
			</label>

			<input
				type="checkbox"
				name="language"
				value="geenvoorkeur"
				id="geenvoorkeur"
			/>
			<label for="geenvoorkeur">
				<img src="img/taal-geenvoorkeur.png" id="geenvoorkeurImage" />
				<p>Geen voorkeur</p>
			</label>

			<!-- Submit-knop is ook knop naar volgende pagina -->
			<input type="hidden" name="nextPage" value="/confirmationscreen" />

			<fieldset>
				<a href="/muziekelement">
					<img
						src="img/next.png"
						alt="Knop om terug te gaan naar muziekelement"
					/>
				</a>

				<input
					type="image"
					src="img/nextpage.png"
					class="next-button-t"
					alt="Volgende pagina"
				/>
			</fieldset>
		</form>

		<script src="/js/index.js"></script>
	</body>
</html>
