<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("partials/gevoelhead.ejs"); %>
	</head>

	<body>
		<section>
			<h1><em>Hoe voel je je</em> bij dit lied?</h1>
			<p>Selecteer minimaal één optie.</p>
		</section>

		<form action="/updatedUserPost" method="post" id="form-v">
			<input
				type="checkbox"
				name="moods"
				value="optimistisch"
				id="optimistisch"
			/>
			<label for="optimistisch">
				<img src="img/voel-optimistisch.png" id="optimistischImage" />
				<p>Optimistisch</p>
			</label>

			<input type="checkbox" name="moods" value="energiek" id="energiek" />
			<label for="energiek">
				<img src="img/voel-energiek.png" id="energiekImage" />
				<p>Energiek</p>
			</label>

			<input type="checkbox" name="moods" value="liefdevol" id="liefdevol" />
			<label for="liefdevol">
				<img src="img/voel-liefdevol.png" id="liefdevolImage" />
				<p>Liefdevol</p>
			</label>

			<input
				type="checkbox"
				name="moods"
				value="geinspireerd"
				id="geinspireerd"
			/>
			<label for="geinspireerd">
				<img src="img/voel-geinspireerd.png" id="geinspireerdImage" />
				<p>Geïnspireerd</p>
			</label>

			<input
				type="checkbox"
				name="moods"
				value="gemotiveerd"
				id="gemotiveerd"
			/>
			<label for="gemotiveerd">
				<img src="img/voel-gemotiveerd.png" id="gemotiveerdImage" />
				<p>Gemotiveerd</p>
			</label>

			<input type="checkbox" name="moods" value="rustig" id="rustig" />
			<label for="rustig">
				<img src="img/voel-rustig.png" id="rustigImage" />
				<p>Rustig</p>
			</label>

			<input type="checkbox" name="moods" value="neutraal" id="neutraal" />
			<label for="neutraal">
				<img src="img/voel-neutraal.png" id="neutraalImage" />
				<p>Neutraal</p>
			</label>

			<input type="checkbox" name="moods" value="verdrietig" id="verdrietig" />
			<label for="verdrietig">
				<img src="img/voel-verdrietig.png" id="verdrietigImage" />
				<p>Verdrietig</p>
			</label>

			<input type="checkbox" name="moods" value="vermoeid" id="vermoeid" />
			<label for="vermoeid">
				<img src="img/voel-vermoeid.png" id="vermoeidImage" />
				<p>Vermoeid</p>
			</label>

			<input
				type="checkbox"
				name="moods"
				value="gefrustreerd"
				id="gefrustreerd"
			/>
			<label for="gefrustreerd">
				<img src="img/voel-gefrustreerd.png" id="gefrustreerdImage" />
				<p>Gefrustreerd</p>
			</label>

			<input type="checkbox" name="moods" value="ergerlijk" id="ergerlijk" />
			<label for="ergerlijk">
				<img src="img/voel-ergerlijk.png" id="ergerlijkImage" />
				<p>Ergerlijk</p>
			</label>

			<input type="checkbox" name="moods" value="boos" id="boos" />
			<label for="boos">
				<img src="img/voel-boos.png" id="boosImage" />
				<p>Boos</p>
			</label>

			<!-- Submit-knop is ook knop naar volgende pagina -->
			<input type="hidden" name="nextPage" value="/update-element" />

			<fieldset>
				<a href="/">
					<img
						src="img/home.png"
						alt="Knop om terug te gaan naar startscherm"
					/>
				</a>

				<input
					type="image"
					src="img/nextpage.png"
					class="next-button-v"
					alt="Volgende pagina"
				/>
			</fieldset>
		</form>

		<script src="/js/index.js"></script>
	</body>
</html>
